<div *ngIf="quesAnsLength=='0'" class="qa">
  <div *ngFor="let ques of noteDetails">
    <div>
      <p class="title"> {{ques.title}}</p>
      <p class="description"> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>


    <div>
      <h3 class="description">Ask a Question</h3>
      <div [froalaEditor] [(froalaModel)]="quesValue">
      </div>
    </div>
    <div>
      <button mat-button (click)=askQues(ques.id)>Submit</button>
    </div>
  </div>
</div>


<div *ngIf="quesAnsLength>='1'" class="qa">
  <div *ngFor="let quora of noteDetails ">
    <div>
      <p class="title"> {{quora.title}}</p>
      <p class="description"> {{quora.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Question Asked</h3>
      <div innerHTML="{{quora.questionAndAnswerNotes[0].message}}"></div>
      <mat-divider></mat-divider>
    </div>
    <div class='qa' fxLayout='row' fxLayoutGap=20px>
      <div>
        <button mat-mini-fab color="warn">{{firstName[0] | uppercase}}</button>
      </div>
      <div fxLayout='column' fxLayoutGap=12px>
        <div fxLayout='row' fxLayoutGap=7px>
          <div class="details">
            {{firstName+' '+lastName}}
          </div>
          <div class="details">
            {{ today | date:'medium' }}
          </div>
          <div>
            <button class="btn" matTooltip="reply" mat-button (click)=toggleReply()>
              <mat-icon>reply</mat-icon>
            </button>
            <button class="btn" matTooltip="like" mat-button (click)=onLike(quora.questionAndAnswerNotes[0].id)>
                <mat-icon>thumb_up_alt</mat-icon>
              </button>
              <button matTooltip="rate" mat-button (click)=onRate(quora.questionAndAnswerNotes[0].id,no)>
                  <mat-icon>rate</mat-icon>
                </button>
          </div>
        </div>
        <div innerHTML="{{quora.questionAndAnswerNotes[0].message}}"></div>
        <div *ngIf='showReply' >
          <div div [froalaEditor] [(froalaModel)]="AnsValue"></div>
           <button  mat-button (click)=questionReply(quora.questionAndAnswerNotes[0].id) >Reply </button>
          </div>


      </div>
    </div>

  </div>

</div>
