<div *ngIf="show" class="qa">
  <div *ngFor="let ques of noteDetails">
    <div>
      <p class="title"> {{ques.title}}</p>
      <p class="description"> {{ques.description}}</p>
      <mat-divider></mat-divider>
    </div>


    <div>
      <h3 class="description">Ask a Question</h3>
      <div><input matInput [placeholder]="'Enter text here...'" [(ngModel)]="quesValue"></div>
    </div>
    <div>
      <button mat-button (click)=askQues(ques.id)>Submit</button>
    </div>
  </div>
</div>


<div *ngIf="!show" class="qa">
  <div *ngFor="let quora of noteDetails ">
    <div>
      <p class="title"> {{quora.title}}</p>
      <p class="description"> {{quora.description}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <h3>Question Asked</h3>
      <p>{{quora.questionAndAnswerNotes[0].message}}</p>
      <mat-divider></mat-divider>
    </div>
    <div class='qa' fxLayout='row' fxLayoutGap=20px>
      <div>
        <button mat-mini-fab color="warn">{{firstName[0] | uppercase}}</button>
      </div>
      <div fxLayout='column' fxLayoutGap=12px>
        <div fxLayout='row' fxLayoutGap=7px>
          <div class="details">
            {{firstName+' '+lastName}}
          </div>
          <div class="details">
            {{ today | date:'medium' }}
          </div>
          <div>
            <button matTooltip="reply" mat-button (click)=toggleReply()>
              <mat-icon>reply</mat-icon>
            </button>
          </div>
        </div>
        <div>
          {{quora.questionAndAnswerNotes[0].message}}
        </div>
        <div *ngIf='showReply' >
           <p><input matInput [placeholder]="'Enter text here...'" [(ngModel)]="AnsValue"></p>
           <button  mat-button (click)=questionReply(quora.questionAndAnswerNotes[0].id) >Reply </button>
          </div>


      </div>
    </div>

  </div>

</div>
