<div [ngStyle]="{background:dialogColor}" class="dialog-card-container">
  <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="title"
      value={{noteObj.title}}></textarea>
  <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      [formControl]="description" value={{noteObj.description}}></textarea>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <app-icon-tray [card]="noteObj.noteId" [component]="noteObj.component2" (messageEvent)="receiveMessage($event)"></app-icon-tray>
    <div><button mat-button (click)="onUpdateNote()">Close</button></div>
  </div>
</div>
