
 <!-- <div mat-dialog-content fxLayout="column" fxLayoutGap="10px" class="dialog-box">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="title" value=" {{note.title}}"></textarea>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="description" value="{{note.description}}"></textarea>
    
    <div fxFlex="100" fxLayout="row">
         <app-icon fxLayoutAlign="start start"></app-icon>  
        <button mat-button (click)="onSave(card)">Close</button>
    </div>
  </div>  -->

  <div>
    
    <textarea matInput>{{dialogData.title}}</textarea>
    <textarea matInput>{{dialogData.description}}</textarea>
    <div>
    <app-icon></app-icon>
    </div>
    </div>