<div [ngStyle]="{background:dialogColor}" class="dialog-card-container">
  <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="title"
      value={{noteObj.title}}></textarea>
  <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      [formControl]="description" value={{noteObj.description}}></textarea>

      <!--reminder-->
       <div *ngIf="reminder!=''">
          <mat-chip-list>
            <mat-chip class="hide-icon">{{reminder |  date:'short'}}
                <!-- <button mat-icon-button (click)="onClearReminder()">
                    <mat-icon>close</mat-icon>
                  </button>     -->
            </mat-chip>
          </mat-chip-list>
          <div>
          </div>
        </div>
        

        <!--collaborators-->
     <div fxLayout="row wrap">
        <div *ngFor="let collab of collaboratorsArray">
         <button matTooltip="{{collab.email}}" mat-mini-fab class="hover-collab">
           {{collab.firstName[0] | uppercase}}</button>
        </div>
      </div> 
     

      <!--label-->
         <div fxLayout="column">    
        <div *ngFor="let labelName of noteLabelsArray">
          <mat-chip-list>
            <mat-chip class="hide-icon">{{labelName.label}}
             <!-- <button mat-icon-button (click)="onClearLabel()">
                <mat-icon>close</mat-icon>
              </button>     -->
            </mat-chip>
            <span></span>
          </mat-chip-list>
        </div> 
      </div>


  <div fxLayout="row" fxLayoutAlign="space-between">
    <app-icon-tray [card]="noteObj.noteId" [component]="noteObj.component2" (messageEvent)="receiveMessage($event)"></app-icon-tray>
    <div><button mat-button (click)="onUpdateNote()">Close</button></div>
  </div>
</div>
