@import '/home/user/projects/fundooNotesApp/src/app/app.styles/color.scss';
@import '/home/user/projects/fundooNotesApp/src/app/app.styles/constant.scss';

.reset-password{
  @include main-class-div;
}
  
.reset-password-title{
  @include title;
}
  
.reset-password-subtitle{  
  @include subtitle; 
}

.reset-password-avatar-img{
  @include avatar-img;
  height:80px;
  width:80px;
}

.reset-password-field{
  @include field;   
}

button{
  @include button;   
}

button:hover{
  @include button-hover;
}
  
  @media(min-width:800px){
  
  .reset-password-title{
    font-size:1.5rem;
    line-height: 1;
  }
  .reset-password-subtitle{
    font-size:1.25rem;
    line-height: 1;
  }
  .reset-password-field{   
    font-size:1rem;
        line-height: 1;
  }
      
  }
  @media(max-width:500px){
      
    .reset-password-title{
      font-size:1rem;
      line-height: 0.75;
    }
    .reset-password-subtitle{
      font-size:0.75rem;
      line-height: 0.75;
    }
    .reset-password-field{   
      font-size:0.7rem;
          line-height: 0.75;
  }
  }
 