<div class="reset-password"  fxLayoutAlign="center center">
  <mat-card fxFlex="50" fxFlex.xs="100" class="reset-password-card"  >
   <mat-card-header fxLayout="column" fxLayoutAlign="center center">
       <img mat-card-avatar src="../../../../src/assets/favicon.jpg" class="reset-password-avatar-img">
   <mat-card-title class="reset-password-title">Fundoo Notes</mat-card-title>
   <mat-card-subtitle class="reset-password-subtitle">Reset Password</mat-card-subtitle>
 </mat-card-header>  


 <mat-card-content fxFlex="50" fxLayout="column" >
  <mat-form-field class="reset-password-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" [formControl]="password" required minlength="8" [type]="hide ? 'password' : 'text'">
    <mat-error *ngIf="password.invalid">{{PasswordInvalidMessage()}}</mat-error>
    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'off' : 'on'}}</mat-icon>
  </button>
  </mat-form-field>
     
  
    <mat-form-field class="reset-password-field" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Enter your password" [formControl]="confirmPassword" required pattern="{{password.value}}" minlength="8"  [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="confirmPassword.invalid">{{ConfirmPasswordInvalidMessage()}}</mat-error>
      <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'off' : 'on'}}</mat-icon>
      </button>
    </mat-form-field>
 

     <button class="reset-password-button" mat-button (click)="onResetPassword()">Reset</button>
    
    </mat-card-content>   
</mat-card>  
</div>














<!-- 






 <div class="register-space-horizontal"></div>


 


</mat-card>

</div> -->


<!-- <mat-card class="reset-password" fxLayout="column" fxLayoutAlign="center center">


  <h1>Reset Password<small></small></h1>

    
      
       <mat-form-field class="reset-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'off' : 'on'}}</mat-icon>
            </button>
          <mat-hint>Password must be 8 characters long</mat-hint>
        </mat-form-field
        > 
        <mat-form-field class="reset-field" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Enter your password again" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'off' : 'on'}}</mat-icon>
            </button>
          <mat-hint>Password must be 8 characters long</mat-hint>
        </mat-form-field> 
   
     
  <button class="reset-password-button" mat-button (click)=onCLick()>Reset</button>
  


</mat-card>
 -->
