@import '/home/user/projects/fundooNotesApp/src/app/app.styles/color.scss';
  
.reset-password    
 { 
    background-color: #ff808c;
  font-family:'Roboto';

  width:800px; 
 margin:150px auto 0; 
 margin-top: 200px;

  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
  border:20 px solid black;
}

.reset-password-field{
    width:100%;
}
h1     
  { 
  text-align:center; 
  font-weight: bold;
  margin-bottom:5px; 
  font-size:36px;
  color:$green
}
h1 small 
{ 
  font-weight:normal;  
  display:block; 
  font-size: 22px;
  color:$green
}

.reset-password-button {
    text-align:center;
    background-color:$green; 
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: inline-block;
    font-size: 15px;
    width: 100%;
    
  }
  button{
      background-color:$green;
  }
  button:hover{
    background-color: #0d1a00;
    
  }

.link{
    font-weight: bold;
    width:100%;
    text-align:center;
    
    color:magenta;
}
mat-form-field {
    width: 100%;
    }
   
@media(min-width:600px){
    .reset-password-field{   
        font-size:1.25 rem;
    }
}

@media(min-width:800px){
    .reset-password-field{   
        font-size:1.5 rem;
        line-height: 1.5;
    }
}




