<mat-card class="login" fxLayout="column" fxLayoutAlign="center center">
  

    <!-- <h1>Fundoo Notes App<small>Login to continue to Fundoo</small></h1> -->
    
      <img src="login.png" width=100px height=200px>
     
   

    
      
  
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
              </mat-form-field>
           
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" type="password">
      <mat-hint>Password must be 8 characters long</mat-hint>
  
    </mat-form-field>
  
    <div class="login-space-horizontal"></div>
  
  
    <button mat-button (click)=onCLick()>Login</button>
    <p class="link"> <a routerLink="/register">New user? Register</a></p>
  
  
  </mat-card>
  