<div class="login" fxLayoutAlign="center center">
  <mat-card fxFlex="50" fxFlex.xs="100" class="login-card">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <img mat-card-avatar src="../../../../src/assets/user.png" class="login-avatar-img">
      <mat-card-title class="login-title">Fundoo Notes</mat-card-title>
      <mat-card-subtitle class="login-subtitle">Login as an existing user</mat-card-subtitle>
    </mat-card-header>


    <div fxFlex="50" fxLayout="column">
     
        <mat-form-field class="login-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [formControl]="email" required type="email">
          <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="login-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [formControl]="password"
            [type]="hide ? 'password' : 'text'" required minlength="8">
          <mat-error *ngIf="password.invalid">{{PasswordInvalidMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>



        <button mat-button (click)="onLogin()">Login</button>
        <p class="link"> <a routerLink="/card">New user? Register</a></p>
        <p class="link"> <a routerLink="/forgotPassword">Forgot Password?</a></p>
      
    </div>
  </mat-card>
</div>
