@import '/home/user/projects/fundooNotesApp/src/app/app.styles/color.scss';
mat-form-field {
    width: 100%;
    }
   
  
   
.login     { 
     flex-direction: row;
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
  border:20 px solid black;
}

h1       { 
  text-align:center; 
  font-weight: bold;
  margin-bottom:50px; 
  font-size:36px;
  color:$green
}
h1 small { 
  font-weight:normal;  
  display:block; 
  font-size: 22px;
  color:$green
}
.login-space-horizontal{
    margin:10px;
   
}
.space-vertical{
    padding-left:100px;
}




button {
    text-align:center;
    background-color:$green; 
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: inline-block;
    font-size: 15px;
    width: 100%;
    
  }
  button:hover{
    background-color: #0d1a00;
    
  }

.link{
    font-weight: bold;
    width:100%;
    text-align:center;
    
    color:magenta;
}






