<mat-toolbar class="main-header"  fxflex="100">Fundoo Notes App</mat-toolbar>

<div class="title" fxLayout="row" fxLayoutAlign="center center">
  fundooNotes offered. Choose below service to Register.
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="card-div1" fxLayoutAlign="center center">
    <mat-card   class="card" (click)="onChoice('advance')">
      <span class="price">price: $99 per month</span>
      <br><span class="choice">advance</span>
      <div fxLayout="column">
        <span>$99/month</span>
          <span>
            Ability to add title, description, images, labels, checklist and colors</span>
      </div>
    </mat-card>
  </div>

  <div class="card-div2" fxLayoutAlign="center center">
    <mat-card   class="card"  (click)="onChoice('basic')">
      <span class="price"> price: $49 per month</span>
      <br><span class="choice">basic</span>
      <div fxLayout="column">
        <span>$49/month</span>
          <span>
            Ability to add only title and description</span>
      </div>
    </mat-card>
  </div>

</div>

<div class="sign" fxLayout="row" fxLayoutAlign="center center">
  <a [routerLink]="[ '/login' ]" routerLinkActive="active"> Sign in instead</a>
</div>
