.main-header{
    color:black;
    font-family: 25px Roboto, sans-serif;
    max-width:100%;
    box-sizing: border-box;
    background-color: #F7BB00;
}

.title{

    font-family: 25px Roboto, sans-serif;
    max-width:100%;
    box-sizing: border-box;
    font-weight:bold;


}

.sign{
    font-family: 16px Roboto, sans-serif;

}