.main-header {
  color: black;
  font-family: 25px Roboto, sans-serif;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #F7BB00;
}

.title {

  font-family: 25px Roboto, sans-serif;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: 3%;
  font-size: 25px;
}

.sign {
  font-family: 16px Roboto, sans-serif;
}

.card {
  width: 160px;
  height: 170px;
  position: relative;
  top: -260px;
  right: 20px;
}

.hover {
  height: 250px;
}

.hover:hover {
  transform: scale(1.1);

  .back {
    background-color: #FFBA33;
  }
}

ul {
  padding-inline-start: 20px;
}

.back {
  width: 160px;
  height: 180px;
  background-color: grey;
}