<div>
  <div fxLayout="row">
      
      <div> <mat-icon matPrefix matToolTip="Cancel">clear</mat-icon></div>
        <div> <input matInput [formControl]="labelValue" placeholder="create a new label" value={{noteObj.label}}></div>
          <div fxLayoutAlign="end end"><button mat-button (click)="onCreateLabel()" matToolTip="Create Label">
            <mat-icon matSuffix >
          
          done
        
        </mat-icon>
      </button>
    </div>
     
    </div>
    <div *ngFor="let label of labels" fxLayout="row" fxLayoutAlign="space-evenly center" >
      <div fxFlex=30 ><mat-icon matPrefix matToolTip="Delete label" (click)="onDelete(label)">delete</mat-icon></div>
 
      <div fxFlex=40> 
      <input matInput type="text" [formControl]="updateLabel" value="{{label.label}}">
        </div>
        <div fxFlex=30 fxLayoutAlign="end end">
        <button mat-button (click)="onUpdateNoteLabel(label)">
        <mat-icon matSuffix>create</mat-icon>
        </button>
    </div>
  </div>
     

    <mat-divider></mat-divider>
  <div  fxLayout="row" fxLayoutAlign="end end" >
    <button mat-button mat-button (click)="onDone()">Done</button>
  </div>
    
</div>



   