<div class="main-container" fxFlex="100">

  <mat-toolbar class="dashboard-toolbar" fxflex="100">
    <mat-toolbar-row autosize>
      <mat-icon class="dashboard-icon" aria-hidden="false" type="button" mat-icon-button (click)="drawer.toggle()">
        menu
      </mat-icon>
      <img src="../../../assets/keep.png" class="logo-image">
      <p class="title">FUNDOO NOTES</p>
      <mat-card class="dashboard-searchbar" fxHide.xs="true" fxShow="true">

        <mat-icon matPrefix>search</mat-icon>




        <input matInput routerLink="/search-bar" (keyup)="onKeyUp($event)" type="text" 
          cdkTextareaAutosize placeholder="Search" class="dashboard-searchtype">

      </mat-card>




      <button mat-button class="toolbar-icons" matTooltip="Refresh">
        <mat-icon >refresh</mat-icon>
      </button>
      <button mat-button class="toolbar-icons" matTooltip="List View">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-button class="toolbar-icons" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu" class="avatar-img">
        <img mat-card-avatar [src]="url">

      </button>
      <mat-menu #userMenu="matMenu" yPosition="below" [overlapTrigger]="false">

        <!-- <button mat-menu-item *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</button> -->

        <div>
          <div fxLayout="row">
            <div>
              <img mat-card-avatar [src]="url" (click)="openDialog1()">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              {{firstName}} {{lastName}}
              {{email}}

            </div>
          </div>

          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20">
            <button (click)="addAccount()">Add Account</button>
            <button *ngIf="auth.isLoggednIn()" (click)="auth.logout()">LogOut</button>

          </div>
        </div>

      </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>


  <span class="dashboard-spacer"></span>
  <mat-drawer-container class="dashboard-container" autosize fxShow="true" fxLayout="column"
    fxLayoutAlign="start start">
    <mat-drawer #drawer class="dashboard-sidenav" fxShow="true" mode="side" opened>
      <mat-list>
        <button mat-button >
          <mat-list-item (click)="gotoNotes()">
            <mat-icon mat-list-icon>folder</mat-icon>
            <p mat-line> Notes </p>
          </mat-list-item>
        </button>

        <button mat-button>
        <mat-list-item>
          <mat-icon mat-list-icon>notifications</mat-icon>
          <p mat-line> Reminder</p>
        </mat-list-item>
      </button>
        <mat-divider></mat-divider>
        <p mat-list-item style="color: grey; font-size: 12px">LABELS</p>

        <mat-list-item *ngFor="let label of labels">
            <button mat-button> 
              <mat-icon mat-list-icon>label</mat-icon>
           {{label.label}} </button>
        </mat-list-item>

        <button mat-button (click)="onEdit()">
          <mat-list-item>
            <mat-icon mat-list-icon>create</mat-icon>
            <p mat-line> Edit Labels</p>
          </mat-list-item>
        </button>

        
        
      

        <mat-divider></mat-divider>
        <button mat-button (click)="gotoArchive()">
          <mat-list-item>
            <mat-icon mat-list-icon>archive</mat-icon>
            <p mat-line> Archive </p>
          </mat-list-item>
        </button>
        <button mat-button (click)="gotoTrash()">
          <mat-list-item>
            <mat-icon mat-list-icon>delete</mat-icon>
            <p mat-line> Trash </p>
          </mat-list-item>
        </button>

      </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>

    <!-- <app-take-note></app-take-note> 
          <app-display></app-display> -->
  </mat-drawer-container>

</div>
