<div class="main-container" fxFlex="100">

  <mat-toolbar class="dashboard-toolbar" fxflex="100">
    <mat-toolbar-row autosize>
      <mat-icon class="dashboard-icon" aria-hidden="false" type="button" mat-icon-button (click)="drawer.toggle()">
        menu
      </mat-icon>
      <img src="../../../assets/keep.png" class="logo-image">
      <p class="title" (click)="gotoNotes()">FUNDOO NOTES</p>
      <mat-card class="dashboard-searchbar" fxHide.xs="true" fxShow="true">

        <mat-icon matPrefix>search</mat-icon>
        <input matInput routerLink="/search-bar" (keyup)="onKeyUp($event)" type="text" 
          cdkTextareaAutosize placeholder="Search" class="dashboard-searchtype">

      </mat-card>




      <button mat-button class="toolbar-icons" matTooltip="Cart" (click)="gotoCart()">
        <mat-icon >shopping_cart</mat-icon>
      </button>
      <div *ngIf="show">
      <button mat-button class="toolbar-icons" matTooltip="List View" mat-button (click)="toggle()">
        <mat-icon>list</mat-icon>
      </button>
    </div>

    <div *ngIf="!show">
      <button mat-button class="toolbar-icons" matTooltip="Grid View" (click)="toggle()">
        <mat-icon>border_all</mat-icon>
      </button>
    </div>


      <button mat-button class="toolbar-icons" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu" class="avatar-img">
        <img mat-card-avatar [src]="url">

      </button>
      <mat-menu #userMenu="matMenu" yPosition="below" [overlapTrigger]="false">

        <!-- <button mat-menu-item *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</button> -->

        <div>
          <div fxLayout="row">
            <div>
              <img class="pic" [src]="url" (click)="openDialog1()">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
             <span class="user-name">{{firstName}} {{lastName}}</span> 
             <span class="user-email">{{email}}</span> 
            </div>
          </div>

          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
            <!-- <button mat-button class="card-button" (click)="addAccount()">Add Account</button> -->
            <button mat-button class="card-button" *ngIf="auth.isLoggednIn()" (click)="auth.logout()">LogOut</button>

          </div>
        </div>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <span class="dashboard-spacer"></span>
  <mat-drawer-container class="dashboard-container" autosize fxShow="true" fxLayout="column"
    fxLayoutAlign="start start">
    <mat-drawer #drawer class="dashboard-sidenav" fxShow="true" mode="side" opened>
      <mat-list>
        <button mat-button class="sidenav-button">
          <mat-list-item (click)="gotoNotes()">
            <mat-icon mat-list-icon >folder</mat-icon>
            <mat-line style="padding-left:10px"> Notes</mat-line> 
          </mat-list-item>
        </button>

        <button mat-button class="sidenav-button">
        <mat-list-item (click)="gotoReminder()">
          <mat-icon mat-list-icon>notifications</mat-icon>
          <mat-line style="padding-left:10px"> Reminder</mat-line>
        </mat-list-item>
      </button>

        <mat-divider></mat-divider>
        <mat-list-item style="color: grey; font-size: 12px">LABELS
        </mat-list-item>


        
        <mat-list-item  *ngFor="let label of labels" fxLayout="start start">
            <button mat-button  (click)="onLabelClick(label.label)" class="sidenav-button"> 
              <mat-icon mat-list-icon>label</mat-icon>
              <mat-line> {{label.label}} </mat-line>
            </button>
          
        </mat-list-item >
      

        <button mat-button (click)="onEdit()" class="sidenav-button">
          <mat-list-item>
            <mat-icon mat-list-icon>create</mat-icon>
            <mat-line style="padding-left:10px"> Edit Labels</mat-line>
          </mat-list-item>
        </button>

        <mat-divider></mat-divider>
        <button mat-button (click)="gotoArchive()" class="sidenav-button">
          <mat-list-item>
            <mat-icon mat-list-icon>archive</mat-icon>
            <mat-line style="padding-left:10px"> Archive </mat-line>
          </mat-list-item>
        </button>

        <button mat-button (click)="gotoTrash()" class="sidenav-button">
          <mat-list-item>
            <mat-icon mat-list-icon>delete</mat-icon>
            <mat-line style="padding-left:10px"> Trash </mat-line>
          </mat-list-item>
        </button>

      </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
