.stepper{
    width:80vw;
    height:10vh;
    margin-left:5%;
    margin-right:3%;
}

.title{
    font-family: 16px Roboto,sans-serif;
    font-weight:bold;
    font-size:16px;
}

.mat-card{
    border-radius: 15px;
    background-color: #797676;
    color: white;
    width:100px;
    padding: 8px;
    font-size:16px;

}

.s1{
    margin-top:3%;
    margin-bottom: 3%;
}

.choice{
    color:#48afe4;
    font-family: 12px Roboto,sans-serif;
    font-size:12px;

}

.details{
    color:black;
    font-family: 12px Roboto,sans-serif;
    font-size:12px;

}
.top{
    color:black;
    font-family: Roboto,sans-serif;
    font-weight:bold;
    font-size:12px;
}

.next{
    margin:2%;
}
.next-step{
    margin:2%;
    border: 1px solid black;
    padding: 2px;
}

.sub{
    color:#48afe4;
    font-family: 16px Roboto,sans-serif;
    margin-top:3%;
    font-size:16px;
}

.textbox{
    margin-right:20%;
}

.footer{
    margin-top:3%;
}

.h1{
    margin-right:5%;
}