<div fxLayout="row" fxLayoutAlign="start end"  fxLayoutGap="1px">
 <div> <button mat-icon-button><mat-icon matTooltip="Remind me">notifications</mat-icon></button></div>
 <div><button mat-icon-button><mat-icon matTooltip="Collaborator">person_add</mat-icon></button></div>

  <div><button mat-icon-button [matMenuTriggerFor]="menu_color" fxLayout="row-wrap">
    <mat-icon matTooltip="Change color">color_lens</mat-icon>
  </button></div>
 <div><button mat-icon-button><mat-icon matTooltip="Add image">panorama</mat-icon></button></div>
  <div><button mat-icon-button><mat-icon matTooltip="Archive" (click)="onArchive(card)">archive</mat-icon></button></div>
<div><button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button></div>

</div>
  <mat-menu #menu>
      <button mat-menu-item (click)="onTrash(card)">Trash Note</button>
      <button mat-menu-item (click)="onDeleteForever(card)">Delete Note</button>
      <button mat-menu-item>Add drawing</button>
      <button mat-menu-item>Show checkboxes</button>
    </mat-menu>

      <mat-menu #menu_color>

        <div class="pallete" >
            <button *ngFor="let color1 of colorArray" [ngStyle]="{'background':color1.color}" (click)="changeColor(color1.color,card)" class= "icon-palette"></button>
        </div>  
      </mat-menu>

