<mat-card class="icon-mat-card">
    <mat-icon matTooltip="Remind me">notifications</mat-icon>
    <mat-icon matTooltip="Collaborator">person_add</mat-icon>
    
    <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon matTooltip="Change color">color_lens</mat-icon>
    </button>
    <mat-menu #menu_color="matMenu">

      <div class="icon-color">
            <button mat-mini-fab color="#ECEEEE"></button>
            <button mat-mini-fab color="#F28B82"></button>
            <button mat-mini-fab color="#F7BC04"></button>
            <button mat-mini-fab color="#FAF474"></button>
      </div>

      <div class="icon-color">
            <button mat-mini-fab color="primary"></button>
            <button mat-mini-fab color="primary"></button>
            <button mat-mini-fab color="accent"></button>
            <button mat-mini-fab color="#F7BC04"></button>
      </div>
      <div class="icon-color">
            <button mat-mini-fab color="primary"></button>
            <button mat-mini-fab color="primary"></button>
            <button mat-mini-fab color="accent"></button>
            <button mat-mini-fab color="#F7BC04"></button>
      </div>
    </mat-menu>
  
  
  
  
    <mat-icon matTooltip="Add image">panorama</mat-icon>
    <mat-icon matTooltip="Archive">archive</mat-icon>
    

    <button mat-button matTooltip="More" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>Change Labels</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Show checkboxes</button>
          </mat-menu>

    <button class="info-button" (click)="onClose()">Close</button>
    <button class="info-button" (click)="onSave()">Save</button>

</mat-card>