<mat-card>
    <mat-icon class="info-button" mat-raised-button
    matTooltip="attachments"
    aria-label="Button that displays a tooltip when focused or hovered over">
    attachment</mat-icon>
    <mat-icon class="info-button" at-raised-button
    matTooltip="notes"
    aria-label="Button that displays a tooltip when focused or hovered over">
    note</mat-icon>
    <mat-icon class="info-button" at-raised-button
    matTooltip="color palette"
    aria-label="Button that displays a tooltip when focused or hovered over">
    palette</mat-icon>
    <mat-icon class="info-button" at-raised-button
    matTooltip="archive"
    aria-label="Button that displays a tooltip when focused or hovered over">
    archive</mat-icon>
    <mat-icon class="info-button" at-raised-button
    matTooltip="image"
    aria-label="Button that displays a tooltip when focused or hovered over">
    image</mat-icon>
    <mat-icon class="info-button" at-raised-button
    matTooltip="more options"
    aria-label="Button that displays a tooltip when focused or hovered over">
    more</mat-icon>
    <button class="info-button" (click)="onSave()">Save</button>
   

</mat-card>