.icon-mat-card{
    transform: translateY(-1.1em) scale(.75);
    height:10%;
    // border: none !important;
    // transition: none !important;
    // box-shadow: none !important;
}


.icon-palette{
    border-radius:50%;
    width:24%;
    height: 30px;
    outline:null;
   
}
// .icon-color{
//     width:0px;
// }
.pallete{
    width:120px;
   // border-radius: 20px;

}
