.icon-mat-card{
    transform: translateY(-1.1em) scale(.75);
    border: none !important;
    transition: none !important;
    box-shadow: none !important;
}


// .icon-color{
//     margin-right: 8px;
// }

.mini-fab-icon{
    transform: translateY(-1.1em) scale(.75);

}