<div class="forgot-password"  fxLayoutAlign="center center">
  <mat-card fxFlex="40" fxFlex.xs="100" class="forgot-password-card"  >
   <mat-card-header fxLayout="column" fxLayoutAlign="center center">
       <img mat-card-avatar src="../../../../src/assets/favicon.jpg" class="forgot-password-avatar-img">
   <mat-card-title class="forgot-password-title">Fundoo Notes</mat-card-title>
   <mat-card-subtitle class="forgot-password-subtitle">Forgot Password</mat-card-subtitle>
 </mat-card-header>

 <mat-card-content fxFlex="50" fxLayout="column" >
   
     <mat-form-field class="forgot-password-field" appearance="outline">
       <mat-label>Email</mat-label>
       <input matInput placeholder="Email" [formControl]="email" required type="email">
       <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
     </mat-form-field>

     <button class="forgot-password-button" mat-button (click)=onCLick()>Forgot Password</button>
    
    </mat-card-content>
 
</mat-card>  
</div>














<!-- 






 <div class="register-space-horizontal"></div>


 


</mat-card>

</div> -->

<!-- 
<mat-card class="forgot-password" fxLayout="column" fxLayoutAlign="center center" flex flex-offset="20">


  <h1>Forgot Password<small>Please enter your email address</small></h1>

        <mat-form-field class="forgot-password-field" appearance="outline"> 
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>

        <button class="forgot-password-button" mat-button (click)=onCLick()>Forgot Password</button>
   


</mat-card> -->



        <!-- <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field> -->