@import '/home/user/projects/fundooNotesApp/src/app/app.styles/color.scss';
@import '/home/user/projects/fundooNotesApp/src/app/app.styles/constant.scss';

.forgot-password{
  @include main-class-div;
}
  
.forgot-password-title{
  @include title;
}
  
.forgot-password-subtitle{  
  @include subtitle; 
}

.forgot-password-avatar-img{
  @include avatar-img;
  height:80px;
  width:80px;
}

.forgot-password-field{
  @include field;   
}

button{
  @include button;   
}

button:hover{
  @include button-hover;
}
  
  // @media(min-width:600px){
      
  //   .register-title{
  //     font-size:1.30rem;
  //   }
  //   .register-subtitle{
  //     font-size:1.25rem;
  //   }
  //   .register-field{   
  //     font-size:1rem;
  // }
  // }
  
  @media(min-width:800px){
  
  .forgot-password-title{
    font-size:1.5rem;
    line-height: 1;
  }
  .forgot-password-subtitle{
    font-size:1.25rem;
    line-height: 1;
  }
  .forgot-password-field{   
    font-size:1rem;
        line-height: 1;
  }
  
  
    
  }
  @media(max-width:500px){
      
    .forgot-password-title{
      font-size:1rem;
      line-height: 0.75;
    }
    .forgot-password-subtitle{
      font-size:0.75rem;
      line-height: 0.75;
    }
    .forgot-password-field{   
      font-size:0.7rem;
          line-height: 0.75;
  }
  }
