<div class="forgot-password"  fxLayoutAlign="center center">
  <mat-card fxFlex="40" fxFlex.xs="100" class="forgot-password-card"  >
   <mat-card-header fxLayout="column" fxLayoutAlign="center center">
       <img mat-card-avatar src="../../../../src/assets/favicon.jpg" class="forgot-password-avatar-img">
   <mat-card-title class="forgot-password-title">Fundoo Notes</mat-card-title>
   <mat-card-subtitle class="forgot-password-subtitle">Forgot Password</mat-card-subtitle>
 </mat-card-header>

 <mat-card-content fxFlex="50" fxLayout="column" >
   
     <mat-form-field class="forgot-password-field" appearance="outline">
       <mat-label>Email</mat-label>
       <input matInput placeholder="Email" [formControl]="email" required type="email">
       <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
     </mat-form-field>

     <button  mat-button (click)=onForgotPassword()>Forgot Password</button>
    
    </mat-card-content>
 
</mat-card>  
</div>
