 
 <div *ngIf="!show" fxLayoutAlign="center start">
      <mat-card fxFlex="70" fxLayout="column">
        <mat-form-field>
          <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" 
          cdkAutosizeMinRows="1" [formControl]="title" placeholder="Title"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            placeholder="Take a note..." [formControl]="description"></textarea>
        </mat-form-field>
         <app-icon (messageEvent)="receiveMessage($event)"></app-icon> 
      </mat-card>
    </div>
    <div *ngIf="show" (click)="toggle()" fxLayoutAlign="center start">
        <mat-card fxFlex="70" fxLayout="column">
            <mat-form-field>
              <textarea input type="text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                placeholder="Take a note..." [formControl]="description"></textarea>
              </mat-form-field>
          </mat-card>
    </div>



