
     <div>
     <mat-expansion-panel  fxLayout="column" fxLayoutAlign="space-evenly start" 
      >

        <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                <input matInput placeholder="title" [formControl]="title">      
        </mat-expansion-panel-header>
 
            <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10" [formControl]="description" placeholder="take a note">
          </textarea>

    <app-icon></app-icon>
      </mat-expansion-panel>

    <app-display></app-display>

  </div>
  