.collab-box{
    width:40vw;
    height:30vh;
}

.user-name {
    font-size: 13px;
    font-weight: bold;
  }
  
  .user-email {
    font-size: 13px;
    color: #666;  
  }
  
  .pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }