.collab-box{
    width:80vw;
    height:80vh;
}

.user-name {
    font-size: 13px;
    font-weight: bold;
    margin-left: 1px;
  }
  
  .user-email {
    font-size: 13px;
    color: #666;
    margin-left: 1px;
  }
  
  .pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }