<div class="collab-box">
  <h1>Collaborators</h1>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="10">
        <button mat-fab color="primary">{{firstName}}</button>
      </div>
      <div fxLayout="column" fxFlex="85">
       <span class="user-name">{{firstName}} {{lastName}} (owner)</span> 
       <span class="user-email">{{email}}</span> 
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="10">
          <button mat-fab color="primary"></button>
        </div>
        <div fxLayout="column" fxFlex="72">
         <span class="user-name">
           <input matInput placeholder="Person or email to share with" [(ngModel)]="coll" [formControl]="collab_user" (keyup)="searchList(coll)" [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user1 of filteredSearchUsers | async" [value]="user1.email">
                {{user1.email}}
              </mat-option>
            </mat-autocomplete>
         
          </span> 
        </div>
         <div fxLayoutAlign="end end" fxLayout="row"><button mat-icon-button (click)="onCreateCollab()">
            <mat-icon matSuffix> done </mat-icon>
      </button>
    </div>   
      </div>


      <div fxLayout="row" *ngFor="let collab of collabs" fxLayoutAlign="space-between center">
        <div fxFlex="10">
          <button mat-fab color="primary">{{collab.firstName[0] | uppercase}}</button>
        </div>
        <div fxLayout="column" fxFlex="72">
          <span class="user-name"> {{collab.firstName}} {{collab.lastName}} </span>
          <span class="user-name"> {{collab.email}}  </span>
        </div>

         <div fxLayoutAlign="end end"><button mat-icon-button (click)="onDeleteCollab(collab.userId)">
            <mat-icon matSuffix> close </mat-icon>
      </button>
    </div>        
      </div>
    


      
      <div fxLayout="row" *ngFor="let collab of collabArray" fxLayoutAlign="space-between center">
          <div fxFlex="10">
            <button mat-fab color="primary">{{collab.firstName[0] | uppercase}}</button> 
          </div>
          <div fxLayout="column" fxFlex="72">
            <span class="user-name"> {{collab.firstName}} {{collab.lastName}} </span>
            <span class="user-name"> {{collab.email}}  </span>
          </div> 
  
           <!-- <div fxLayoutAlign="end end"><button mat-icon-button (click)="onDeleteCollab(collab.userId)">
              <mat-icon matSuffix> close </mat-icon>
        </button>
      </div>    -->
        
      </div> 

      <mat-divider></mat-divider>
      <div  fxLayout="row" fxLayoutAlign="end end">
        <button mat-button mat-button (click)="onSave()">Done</button>
      </div>

