<div class="trash-container" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" >
    <app-display [notes]="notes" (messageEvent)="receiveMessage($event)"></app-display>


</div>


<!-- 
<div class="trash-container" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" >
  <mat-card class="trash-mat-card" *ngFor="let note of notes" [ngStyle]="{background:note.color}" fxFlex="25"
   (mouseover)="hover=true" (mouseleave)="hover=false">
  <div (click)="openDialog(note)">
      <p>{{note.title}}</p>
      <p>{{note.description}}</p>
     </div>
   <div  fxLayout="row-wrap">
     <button mat-icon-button [matMenuTriggerFor]="menu_trash" (messageEvent)="receiveMessage($event)">
        <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu_trash>
      <button mat-menu-item (click)="onDeleteForever(note.id)">Delete Forever</button>
      <button mat-menu-item (click)="onRestore(note.id)">Restore</button>
    </mat-menu>
  </mat-card>
  </div>

  -->
