<div class="container" fxLayout="column">
    <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()" class="toolbarButton">
    <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/keep.png" class="image">
    <p class="toolbarHeading">Fundoo Notes</p>
    
    <mat-card class="searchbar" fxHide.xs="true" fxShow="true">
    <mat-icon matPrefix>search</mat-icon>
    <textarea matInput type="text" placeholder="Search" class="searchtype" ></textarea>
    </mat-card>
    <button mat-button class="toolbarButton" matTooltip="Refresh">
        <mat-icon >refresh</mat-icon>
        </button>
        <button mat-button class="toolbarButton" matTooltip="List View">
        <mat-icon>list</mat-icon>
        </button>
        <button mat-button class="toolbarButton" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
        </button>
        
        <button mat-button [matMenuTriggerFor]="belowMenu">
        <img mat-card-avatar src="../../../../src/assets/user.png" class="avatar-img" height="20px" width="20px">

        </button>
    
    </mat-toolbar>
    
    <div class="toolnote">
        <mat-sidenav-container
        class="maincontainer" fxHide.xs="true" fxShow="true">
      <mat-sidenav #drawer mode="side" class="sidebar" opened style="height:100vh">
          <mat-list>
              <h3 mat-header>MyNotes</h3>
              <a mat-list-item><mat-icon class="sidebaricons" >exit_to_app</mat-icon>Notes</a>
              <a mat-list-item><mat-icon class="sidebaricons" >notifications</mat-icon>Reminder</a>
              <mat-divider></mat-divider>
              <h3 mat-header>Labels</h3>
              <a mat-list-item ><mat-icon class="sidebaricons" >edit</mat-icon>Edit Labels</a>
              <mat-divider></mat-divider>
              <a mat-list-item><mat-icon class="sidebaricons" >archive</mat-icon>Archive</a>
              <a mat-list-item><mat-icon class="sidebaricons" >delete</mat-icon>Trash</a>
              </mat-list>
      </mat-sidenav>
    
      <mat-sidenav-content style="height: 100vh">
          <app-take-note></app-take-note>
     <!-- <gtgrygerygt></gtgrygerygt> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <mat-drawer-container class="maincontainer" fxHide.xs="false" fxShow="true" style=
    "height: 100vh">
    <mat-drawer #drawer mode="side" class="sidebar" opened >
    <mat-list>
    <h3 mat-header>MyNotes</h3>
    <a mat-list-item routerLink="." ><mat-icon class="sidebaricons" >description</mat-icon>Notes</a>
    <a mat-list-item routerLink="."><mat-icon class="sidebaricons" >notifications</mat-icon>Reminder</a>
    <mat-divider></mat-divider>
    <h3 mat-header>Labels</h3>
    <a mat-list-item routerLink="."><mat-icon class="sidebaricons" >edit</mat-icon>Edit Labels</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="." ><mat-icon class="sidebaricons" >archive</mat-icon>Archive</a>
    <a mat-list-item routerLink="."><mat-icon class="sidebaricons" >delete</mat-icon>Trash</a>
    </mat-list>
    </mat-drawer>
    </mat-drawer-container> -->
    <!-- <div style="width: 100%">
    <app-take-note></app-take-note>
    </div> -->
    </div>
    </div>