@import '/home/user/projects/fundooNotesApp/src/app/app.styles/color.scss';
@import '/home/user/projects/fundooNotesApp/src/app/app.styles/constant.scss';

.register {
  @include main-class-div;
}

.register-title {
  @include title;
}

.register-subtitle {
  @include subtitle;
}

.register-avatar-img {
  @include avatar-img;
  height: 80px;
  width: 80px;

}

.register-field {
  @include field;
}

button {
  @include button;
}

button:hover {
  @include button-hover;
}

// @media(min-width:600px){

//   .register-title{
//     font-size:1.30rem;
//   }
//   .register-subtitle{
//     font-size:1.25rem;
//   }
//   .register-field{   
//     font-size:1rem;
// }
// }

@media(min-width:800px) {

  .register-title {
    font-size: 1.5rem;
    line-height: 1;
  }

  .register-subtitle {
    font-size: 1.25rem;
    line-height: 1;
  }

  .register-field {
    font-size: 1rem;
    line-height: 1;
  }

  .link {
    font-size: 1rem;
    line-height: 1;
  }


}

@media(max-width:500px) {

  .register-title {
    font-size: 1rem;
    line-height: 0.75;
  }

  .register-subtitle {
    font-size: 0.75rem;
    line-height: 0.75;
  }

  .register-field {
    font-size: 0.7rem;
    line-height: 0.75;
  }

  .link {
    font-size: 0.7rem;
    line-height: 0.75;
  }
}
