<div class="register">
  <mat-form-field floatLabel="never" class="register-field">
    first name <input matInput placeholder="enter first name">
  </mat-form-field>

  <mat-form-field floatLabel="never" class="register-field">
    last name <input matInput placeholder="enter last name">
  </mat-form-field>

  <mat-form-field floatLabel="never" class="register-field2">
    email <input matInput type="email" placeholder="enter email">
  </mat-form-field>

  <mat-form-field floatLabel="never" class="register-field">
    password <input matInput type="password" placeholder="enter password">
  </mat-form-field>

  <button class="register-button" mat-button (click)=onCLick()>Register</button>

  <a routerLink="/login">Already an exisiting user?</a>
</div>



