<mat-card class="register" fxLayout="column" fxLayoutAlign="center center">


  <h1>Fundoo Notes App<small>Register to continue to Fundoo</small></h1>
  <img src="favicon.jpg" width=80px height=120px>



         <mat-form-field class="register-field" appearance="outline">
          <mat-label>First Name </mat-label>
          <input matInput placeholder="First Name">
        </mat-form-field>
      
        <mat-form-field class="register-field" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
        </mat-form-field>
  
  
        <mat-form-field class="register-field" appearance="outline"> 
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>
      
       <mat-form-field class="register-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'off' : 'on'}}</mat-icon>
            </button>
          <mat-hint>Password must be 8 characters long</mat-hint>
        </mat-form-field> 
   
     
  
  <div class="register-space-horizontal"></div>


  <button class="register-button" mat-button (click)=onCLick()>Register</button>
  <p class="link"> <a routerLink="/login">Already an exisiting user?</a></p>


</mat-card>



        <!-- <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field> -->