<div class="register"  fxLayoutAlign="center center">
     <mat-card fxFlex="50" fxFlex.xs="100" class="register-card"  >
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <img mat-card-avatar src="../../../../src/assets/favicon.jpg" class="register-avatar-img">
      <mat-card-title class="register-title">Fundoo Notes</mat-card-title>
      <mat-card-subtitle class="register-subtitle">Register new user</mat-card-subtitle>
    </mat-card-header>  

    <mat-card-content fxFlex="50" fxLayout="column" >
      <mat-form-field class="register-field" appearance="outline">
          <mat-label>First Name </mat-label>
          <input matInput placeholder="First Name" [formControl]="firstName" required> 
          <mat-error *ngIf="firstName.invalid">{{FirstNameInvalidMessage()}}</mat-error>
        </mat-form-field>
          
         <mat-form-field class="register-field" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" [formControl]="lastName" required>
          <mat-error *ngIf="lastName.invalid">{{LastNameInvalidMessage()}}</mat-error>
        </mat-form-field>
      
    
        <mat-form-field class="register-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [formControl]="email" type="email" required>
          <mat-error *ngIf="email.invalid">{{EmailInvalidMessage()}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="register-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [formControl]="password" required minlength="8" [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="password.invalid">{{PasswordInvalidMessage()}} </mat-error>
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Password must be 8 characters long</mat-hint>
        </mat-form-field>

        <label class="choices">Select choice of cards</label>
<mat-radio-group 
  [(ngModel)]="cardChoice">
  <mat-radio-button class="choices" *ngFor="let choice of choices" [value]="choice">
    {{choice}}
  </mat-radio-button>
</mat-radio-group>
<!-- <div>Your favorite season is: {{favoriteSeason}}</div> -->
      
        
        <button  mat-button (click)="onRegister()">Register</button>
        <p class="link"> <a routerLink="/login">Existing user? Login</a></p>
        
      
    </mat-card-content>   
  </mat-card>  
  </div>
