
<div class="display-container" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" >
   <mat-card class="display-mat-card" *ngFor="let note of notes|search:searchText" [ngStyle]="{background:note.color}" fxFlex="25">
   <div (click)="openDialog(note)">
       <p style=" word-break: break-all">{{note.title}}</p>
       <p style=" word-break: break-all">{{note.description}}</p>
       <div *ngFor="let noteLabel of note.noteLabels">
            
            <mat-chip>{{noteLabel.label}}</mat-chip>
        </div>
      </div>
       <div fxLayoutAlign="start start">
       <app-icon-tray [card]=note.id [component]="component" (messageEvent)="receiveMessage($event)"></app-icon-tray>
    </div>
   </mat-card>
   </div>



       
    