
<div class="display-container" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" >
   <mat-card class="display-mat-card" *ngFor="let note of notes" [ngStyle]="{background:note.color}" fxFlex="25" fxFLex.sm="45">
   <div (click)="openDialog(note)">
       <p style=" word-break: break-all">{{note.title}}</p>
       <p style=" word-break: break-all">{{note.description}}</p>
      </div>
       <div *ngFor="let noteLabel of note.noteLabels">
            <mat-chip-list>
            <mat-chip class="hide-icon">{{noteLabel.label}}
            <button mat-icon-button  (click)="onChipClick(noteLabel.id,note.id)">
              <mat-icon>close</mat-icon> 
            </button>
          </mat-chip>
            <span></span>
          </mat-chip-list>
        </div>
        
        <div *ngFor="let remindMe of note.reminder">
        <mat-chip-list>
            <mat-chip class="hide-icon">{{remindMe}}
                <button mat-icon-button  (click)="onReminderClick(note.reminder,note.id)">
                    <mat-icon>close</mat-icon> 
                  </button>
          </mat-chip>
          </mat-chip-list>
        <div>
          </div>
        </div>

        <div *ngFor="let collabName of note.firstname">
          <mat-chip-list>
              <mat-chip class="hide-icon">{{collabName}}
                  <button mat-icon-button  (click)="onReminderClick(note.reminder,note.id)">
                      <mat-icon>close</mat-icon> 
                    </button>
            </mat-chip>
            </mat-chip-list>
          <div>
            </div>
          </div>
      
       <div fxLayoutAlign="start start">
       <app-icon-tray class="icon-tray" [card]=note.id [component]="component" (messageEvent)="receiveMessage($event)"></app-icon-tray>
    </div>
   </mat-card>
   </div>
